body {
  background-color: rgb(218, 218, 218);
  text-align: center;
}

.latar {
  margin: 4.5em;
  background-color: rgb(65, 65, 155);
  text-align: center;
  font-size: 60px;
  color: white;
  font-family: verdana;
  font-size: 50px;
  padding: 3px;
  border-radius: 10px;
}
